---
import UserForm from "../components/UserForm";
import UserTable from "../components/UserTable";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="flex antialiased text-slate-500 dark:text-slate-400 bg-white dark:bg-slate-900">
		<div class="flex-1">
			<UserForm client:visible />
		</div>
		<div class="flex-1">
			<UserTable client:visible />
		</div>
	</body>
</html>
